
.sidebar {
  /* Position it fixed and hidden initially */
  position: fixed;
  top: 0;
  left: -100%;
  width: 18rem;
  height: 100vh;
  transition: left 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  z-index: 9;

}

.sidebar.open {
  /* When open class is added, make it visible */
  left: 0;

}

@media screen and (min-width: 1300px) {
  .sidebar {
      /* On larger screens, make it behave like a regular sidebar */
      position: relative;
      background-color: transparent;
      width: 100%;

      height: 100%;
      left: 0;
      padding-left: .5rem;
      padding-right: .5rem;;
  }
  
  .close-button {
      /* Hide the close button on larger screens */
      display: none;
  }
}

.logo {
  margin-top: 20px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  flex-grow: 1;
}

.button {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #545454;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
  
}
.button:hover {
    background-color: #E5E8FC;
    cursor: pointer;


}

.help-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 1.1rem 1.6rem;
}

.help-item {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #545454;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
  
}