.sidebar {
  width: 18rem; /* Adjust the width as needed */
  background-color: #fff; /* Adjust the background color as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo {
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex-grow: 1;
}

.button {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #545454;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
}
.button:hover {
    background-color: #E5E8FC;
    cursor: pointer;


}

.help-button {
  margin-bottom: 20px;
  /* Add any other desired styles for the help button */
}
