.connect-wallet-btn {
  background: #E5E8FC;
  padding: .5rem 1.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
  border: 1px solid var(--dark-blue-border);
  border-radius: 1rem;

  .btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btn-label {
    color: #0016DD;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
  }
  &:hover {
    background: var(--dark-blue-hover);
  }
  &:active {
    background: var(--dark-blue-active);
  }
}

@media (max-width: 450px) {
  .connect-wallet {
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 350px) {
  .connect-wallet-btn {
    height: 3.6rem;
    .btn-icon {
      display: none;
    }
    .btn-label {
      margin-left: 0px;
    }
  }
}
